


#wrapper{
    margin: 0 auto;
    
    
}
h1 {
    font-family: 'Faster One', cursive;
    text-align: center;
    font-size: 24px;
}
#container{
    margin: 20px auto;
    padding: 10px 0px;
    background-color:rgba(145, 108, 247, 0.267);
    width: 900px;
    text-align: center;
    }


p{
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-success{
    color: #fff;
    background-color:rgb(46, 176, 180);
}

#timerDiv{
    
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#questionDiv{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    
}
#answerDiv{
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}


